extends layout

block content
  table.chore
    thead
      tr
        td &nbsp;
        td Monday
        td Tuesday
        td Wednesday
        td Thursday
        td Friday
        td Saturday
        td Sunday
    tbody
      tr
        td Empty trash.
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
      tr
        td Make bed.
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
      tr
        td Sweep under the table.
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
      tr
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
      tr
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
        td &nbsp;
