extends layout

block content
  table
    thead
      tr
        td &nbsp;
        td Monday
        td Tuesday
        td Wednesday
        td Thursday
        td Friday
        td Saturday
        td Sunday
    tbody
      tr
        td Empty trash
      tr
        td Make bed
