doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/base.css')
  body
    div(class='header')
    div(class='leftside')
      <a href="./">Home</a><br />
      <a href="./carcalculations">Automotive Calulators</a>
    div(class='center')
      block content

    footer By William, Victor and Daddy Warnock.  Color design by Mommy.
    //- This should NOT show up.
    //- footer All of this is programmed by hand and every attempt is made to have it support a standard web browser that can support <a href="https://www.w3.org/html/" target="=_blank">HTML 5.1</a> and <a href="https://www.ecma-international.org/publications/standards/Ecma-262.htm" target="_blank">ECMA Script</a>.
