doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='icon' type='image/png' href='/images/favicon.png')
    block scripts


  body(onload="gearchoice()")
    .header
    .leftside
      <a href="./">Home</a><br />
      <a href="./carcalculations">Automotive Calulators</a><br />
      <a href="./resume">Resume</a>

    .center
      block content

    block footer
      footer By William, Victor and Daddy Warnock.  Color design by Mommy.
