doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='icon' type='image/png' href='/images/favicon.png')
    block scripts


  body(onload="gearchoice()")
    .header
    .leftside
      a(href="./") Home <br />
      a(href="./carcalculations") Automotive Calulators <br />
      a(href="./resume") Resume <br />
      a(href="./chores") Chores <br />

    .center
      block content

    footer
      block footer
        p By William, Victor and Daddy Warnock.  Color design by Mommy.
        p Time is the only limited resource for any known creature.  Humans ability to be self aware although not exclusive happens at a far higher rate than any other known creature.  This has allowed humans to grow to populate a huge domain at an extremely high rate compared to other creatures.  What will YOU do with your time.
