extends layout

block content
  h2 Objective
  p Provide the best possible technical and procedural skills in deploying, managing and maintaining a company’s computer and network infrastructure.
  h2 Industry Certifications
  ul
    li Exams: 70-294, 70-293, 70-297, 70-282, 70-291, 70-290, 70-217, 70-216, 70-215, 70-210, 70-073
    li Achieved MCP status in September 2000, Achieved MCSE 2003 status in July 2007.
    li HPE Managing HPE 3PAR StoreServ (HK902S).
  h2 Summary of Qualifications
  h3 Software
  p Microsoft DOS, Windows desktop and server platforms, Exchange, Data Protection Manager, Office, SQL Server.  Symantec Backup Exec, Symantec Antivirus Corporate Edition, Symantec Endpoint Protection, Trend Micro OfficeScan,  Snort 2.9.x, Cisco ASA, Cisco IOS 11.x, 12.x., 15.x, Wireshark, Bind 9.x, PowerDNS,  VMWare vSphere, Veeam Backup, Ubuntu Server, Nagios Core and Splunk
  h3 Hardware
  p Dell PowerEdge, PowerConnect, OptiPlex, Lattitude.  Hewlett Packard Enterprise Proliant, EVA, StorServ. (3Par)  Cisco ASA, IOS (including routing, switching and WLAN).
  h3 Technologies
  p TCP/IP v4, DNS, WINS, DHCP,LAN, WAN, Active Directory, Windows Deployment Services, Remote Installation Services, PXE, FTP, TFTP, SMTP, HTTP(S), POP3, IMAP v4, (S)NTP, PowerShell, VBScript, IPsec, SSH, BGP, MPLS.
  h2 Relevant Experience


  p Data Center Operations Manager, January 2016 – Present <br /> TÜV Rheinland of North America
  ul
    li Maintain data center in leased space.
    li Determine ROI for compute and storage infrastructure.
    li Produce automated billing system for internal company charge back (PowerShell using MariaDB storage).
    li Plan develop and implement backup and recovery strategy.


  p Network Engineer, August 2008 – December 2015 <br /> TÜV Rheinland of North America
  ul
    li Plan and implement hosted data center.
    li Implement and maintain WAN infrastructure using a mixture of Cisco ASA firewalls Cisco IOS routers and a provider managed MPLS service.
    li Deploy and maintain Allworx VOIP telephony service.
    li Deploy and maintain layer 2 technologies, switching and 802.11 wireless services.
    li Deploy and maintain physical and virtual (VM Ware ESX) servers.
    li Engineer, implement and maintain disk based backup system.
    li Maintain Active Directory infrastructure for the United States, Canada and Mexico.
    li Plan and contract physical cable infrastructure for new offices as well adds moves and changes.


  p Senior Network Engineer, June, 2007 – July, 2008 <br />Global Consulting
  ul
    li Engineer network systems according to customers’ business goals.
    li Implement engineering plan for all back-end network systems.
    li Deploy and maintain HP and Dell server equipment.
    li Produce desktop roll-out images using Microsoft deployment tools.
    li Maintain Network applications using Group Policy.

  p Owner, July, 2002 – June, 2007 <br /> Warnock Solutions
  ul
    li Maintain, diagnose, and repair all aspects of small business computer networks.
    li Assess technical and business needs for customers.
    li Manage employee and sub contractors for associated jobs.
    li Produce service program for company technicians and sub-contractors.
    li Perform all accounting duties for company.
    li Business sold to Global Consulting in June, 2007

  p Partner, December, 1999 – August, 2002 <br />Pacific Computer Services
  ul
    li Assess technical and business needs for customers.
    li Diagnose and repair all aspects of small computer networks.

  p Technician, ~ Spring 1996 – ~December, 1999 <br />Netram Components
  ul
    li Produce Windows 95/98, Windows NT 4.0 disk images for manufacturing of approximately 1000 computers a month.
    li Develop compatibility testing program for all production computers.
    li Provide technical support and training to end customer support staff.
