body{
  background-color:#4d86a0;
  color:#efefef;
  font-size: 13pt;
  }
a:link{
  color:#dfe0d2;
}
a:visited{
  color:#dfe0d2;
}
a:hover{
  color:#ffffff;
}
p {
}
h1{
  font-size: 14pt;
}
h2{
}
h3{
}
footer{
  font-size: 10pt;
  text-align: center;
  padding-left: 11em;
}
input:invalid {
    color:red;
}
div.center{
/*color:#ffffff; */
padding-left: 11em;
}
div.leftside{
  position: fixed;
  left: 2em;
  width: 9em;
  padding-bottom: 2em;
  @media print 
}
div.header{

}
table.chore{
  color: pink;
  font-size: 18pt;
/*   border: 3px solid black; */
}
td {
  border: 3px solid black;
}
